/* Connect Section */
.social-links {
  text-align: center;
  font-size: 1.5rem;
}
.social-links a {
  display: inline-block;
  margin: 15px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}
.social-links a:hover {
  transform: scale(1.1);
}
.social-links a[href*="linkedin"]:hover {
  color: #0A66C2;
}
.social-links a[href*="github"]:hover {
  color: #171515;
}